<footer class="site-footer">

  <div class="wrapper">
    <div class="left">
      <p>&copy; Passworks 2016. All rights reserved</p>
      <p>
        Would you like to help improve this documentation?
        <br>
        Check out our <a href="https://github.com/passworks/help-docs" target="_blank">Github</a>
        Page
      </p>
    </div>
    <div class="right">
      Still have any doubt?
      <br>
      <a href="http://passworks.io/contact-us" target="_blank">Please contact us</a>
    </div>
  </div>

</footer>
