<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <title>{% if page.title %} Passworks - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="keywords" content="one stop shop for mobile wallets, mobile wallet marketing, boarding passes, event tickets, coupons, vouchers, stamp cards, punch cards, android scanner, ios scanner, android passbook scanner, ios passbook scanner, apple wallet, android pay"/>

  <meta name="og:title" content="{% if page.title %}Passworks - {{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="og:type" content="website" />
  <meta name="og:image" content="{{ page.facebook_image }}"/>
  <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="fb:app_id" content="{{ page.facebook_appid }}" />
  <meta name="fb:admins" content="{{ page.facebook_admins }}" />
  <meta name="og:url" content="{{ page.url | prepend: site.url }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ page.url | prepend: site.url }}" />
  <meta name="twitter:title" content="{% if page.title %}Passworks - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ page.twitter_image }}" />

  <script src="https://use.typekit.net/wkz6rgg.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% include google_analytics.html %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="/assets/scripts/typeahead.bundle.min.js"></script>
  <script src="/assets/scripts/scripts.js"></script>
</head>
